{% extends 'base.html' %}

{% block content %}

<br>
<center>
    <div class="post-container">
        <p class="image-title">{{ image.title }}</p>
        <p class="image-description">{{ image.description }}</p>
        <p class="image-user"><a href="{% url 'show_profile' image.uploader.id %}">@{{ image.uploader.username }}</a></p>
        <img class="post_image" src="{{ image.url }}" alt="{{ image.title }}" />
        {% if user.is_authenticated %}
            <br>
            {% if saved %}
                <a href="{% url 'image_unsave' image.id %}"><button>Remove from saved</button></a>
            {% else %}
                <a href="{% url 'image_save' image.id %}"><button>Save Image</button></a>
            {% endif %}

            {% if uploader %}
                <br>
                <a href="{% url 'image_edit' image.id %}"><button>Edit</button></a>
            {% endif %}
        {% endif %}

    </div>
</center>

{% endblock %}
