{% extends 'base.html' %}

{% block content %}

<center>
    <p>Search results for "{{ query }}"</p>

    {% if users %}
        <div class="users-container">
            <p>Users</p>
            {% for u in users %}
            <div class="user-container">
                <a href="{% url 'show_profile' u.id %}">{{ u.username }}</a><br>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if images %}
    <center>
        <div class="images-container">
            <p>Images</p>
            {% for image in images %}
            <div class="image-container">
                <a href="{% url 'image_post' image.id %}"><img class="thumbnail_image" src="{{ image.thumbnail }}" alt="{{ image.title }}" /></a>
            </div>
            {% endfor %}
        </div>
    </center>
    {% endif %}
</center>

{% endblock %}
