<ul class="nav">
    <li class="nav-item">
        <a href="/">ProjectName</a>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropdown-button">Images</button>
            <div class="dropdown-content">
                <a href="{% url 'images_list' %}">List</a>
                <a href="{% url 'image_upload' %}">Upload</a>
            </div>
        </div>
    </li>

    <li>
        <div class="search">
            <form action="/search/" method="GET">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">Search
<!--
                      <i class="fa fa-search"></i>
-->
               </button>
            </form>
         </div>
    </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
        <a href="{% url 'user_profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'signup' %}">Signup</a>
    </li>
    {% endif %}
</ul>
