{% extends 'base.html' %}

{% block content %}

<script type='text/javascript'>
function switchTab(tabName, element) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "grey";
  }

  // Show the specific tab content
  document.getElementById(tabName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  element.style.backgroundColor = "darkgrey";
}

switchTab("MyImages", document.getElementById("MyImages"));
// Get the element with id="defaultOpen" and click on it
//document.getElementById("default").click(); 
</script>

<center>
    <div class="userdetails">
        <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
        <h2><a href="{% url 'show_profile' profile.id %}">@{{ profile.username }}</a></h2>
    </div>

    <div class="profilecontent">
        <div id="images">
            {% for image in images %}
            <div class="image-container">
                <a href="{% url 'image_post' image.id %}"><img class="image" src="{{ image.thumbnail }}" alt="{{ image.title }}" /></a>
            </div>
            {% endfor %}
        </div>   
    </div>
</center>

{% endblock %}
