{% extends 'base.html' %}

{% block content %}

<script type='text/javascript'>
function switchTab(tabName) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
/*
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "grey";
  }
*/

  element = document.getElementById(tabName);

  // Show the specific tab content
  element.style.display = "block";

  // Add the specific color to the button used to open the tab content
/*
  element.style.backgroundColor = "darkgrey";
*/
}

window.addEventListener("load", function(){
    switchTab("MyImages");
});

// Get the element with id="defaultOpen" and click on it
//document.getElementById("default").click(); 
</script>

<center>
    <div class="userdetails">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h2>@{{ user.username }}</h2>
    </div>

    <div class="profilecontent">
        <a href="{% url 'image_upload' %}"><button>Upload image</button></a>

        <div class="tab">
            <button class="tablinks" onclick="switchTab("SavedImages")">Saved images</button>
            <button class="tablinks" onclick="switchTab("MyImages")">My images</button>
        </div>

        <div id="SavedImages" class="tabcontent">
            <div class="images-container">
                {% for image in savedimages %}
                <div class="image-container">
                    <a href="{% url 'image_post' image.id %}"><img class="thumbnail_image" src="{{ image.thumbnail }}" alt="{{ image.title }}" /></a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="MyImages" class="tabcontent">
            <div class="images-container">
                {% for image in myimages %}
                <div class="image-container">
                    <a href="{% url 'image_post' image.id %}"><img class="thumbnail_image" src="{{ image.thumbnail }}" alt="{{ image.title }}" /></a>
                </div>
                {% endfor %}
            </div>   
        </div>   
    </div>
</center>

{% endblock %}
