{% extends 'base.html' %}

{% block content %}

<center>
    <div class="userdetails">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h2>@{{ user.username }}</h2>
    </div>
    
    <div class="profilecontent">
        <div class="tab">
            <button class="tablinks" onclick="">Saved images</button>
            <button class="tablinks" onclick="">My images</button>
        </div>
    
        <div id="SavedImages" class="tabcontent">
            {% for image in savedimages %}
            <div class="image-container">
                <a href="{ url 'images_post_view' image.id }"><img class="image" src="{{ image.image.url }}" alt="{{ image.title }}" /></a>
                <p class="image-title">{{ image.title }}</p>
            </div>
            {% endfor %}
        </div>

        <div id="MyImages" class="tabcontent">
            {% for image in myimages %}
            <div class="image-container">
                <a href="{ url 'images_post_view' image.id }"><img class="image" src="{{ image.image.url }}" alt="{{ image.title }}" /></a>
                <p class="image-title">{{ image.title }}</p>
            </div>
            {% endfor %}
        </div>   
    </div>
</center>

{% endblock %}
